<h2>{{ isEditMode ? 'Editar Cliente' : 'Crear Cliente' }}</h2>

<form (ngSubmit)="onSubmit()" #clienteForm="ngForm">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="cliente.nombre" name="nombre" required />
    </div>
    <div>
        <label for="placaVehiculo">Placa Vehículo:</label>
        <input type="text" id="placaVehiculo" [(ngModel)]="cliente.placaVehiculo" name="placaVehiculo" required />
    </div>
    <div>
        <label for="colorVehiculo">Color Vehículo:</label>
        <input type="text" id="colorVehiculo" [(ngModel)]="cliente.colorVehiculo" name="colorVehiculo" required />
    </div>

    <button type="submit">{{ isEditMode ? 'Actualizar' : 'Crear' }}</button>
</form>