<h2 class="detail-title">Detalle del Cliente</h2>
<div *ngIf="cliente" class="detail-container">
  <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
  <p><strong>Placa Vehículo:</strong> {{ cliente.placaVehiculo }}</p>
  <p><strong>Color Vehículo:</strong> {{ cliente.colorVehiculo }}</p>
  <p><strong>Hora de Ingreso:</strong> {{ cliente.horaIngreso ? (cliente.horaIngreso | date:'short') : 'No disponible' }}</p>

  <button class="btn btn-danger" (click)="deleteCliente()">Eliminar</button>
</div>
