<h2 class="service-title">Lista de Servicios</h2>
<div class="service-list-container">
  <ul>
    <li *ngFor="let servicio of servicios" class="service-item">
      <div class="service-info">
        <p><strong>Cliente ID:</strong> {{ servicio.clienteId }}</p>
        <p><strong>Hora:</strong> {{ servicio.hora | date:'short' }}</p>
        <p><strong>Acción:</strong> {{ servicio.accion }}</p>
        <p><strong>Cobro:</strong> {{ servicio.cobro | currency }}</p>
      </div>
      <div class="service-actions">
        <a [routerLink]="['/servicios/edit', servicio.id]" class="btn btn-edit">Editar</a>
      </div>
    </li>
  </ul>
</div>
